<div class="d-flex justify-content-center">
    <div class="card col-11 col-md-4">
        <div class="card-body">

            <div class="container">
                <div class="row justify-content-center" style="text-align:center;">



                    <h1> Show all requests <h1>

                            <ul>

                                <li> Type: <%= @request.request_type%> </li>
                                <li> Description: <%= @request.request_description%></li>
                                <li> Status: <%= @request.request_status%></li>
                                <li><%= link_to 'Edit', edit_request_path %></li>

                            </ul>




                </div>

            </div>



        </div>
    </div>
</div>