body {
  background: #d9d2d0;
  color: #425759;
  font-family: "Tajawal", sans-serif;
  //   background-image: url(https://image.freepik.com/free-photo/group-people-holding-fists-up_23-2148431393.jpg);
}
