.active {
  // background-color: black;
  // background: yellow;
}

.navbar {
  background-color: #48736f !important;
  font-size: 1.4em;
}

#navbarCollapse {
  //   background: yellow;
}

.dropdown {
  // background-color: #d9d2d0 !important;
  margin-right: 25px;
  border-radius: 15px;
}

#navbarDropdown,
.fas {
  // color: #48736f !important;
}

.navbar-nav .ml-auto {
  margin-right: 250px;
  background: yellow;
}
