h2 {
  color: #f2ece9;
  font-size: 2em;
}

tr {
  color: #f2ece9;
  font-size: 1.1em;
}
tr > td {
  color: #f2ece9;
  font-size: 1.2em;
}

.container {
  //   background-color: purple;
}

.card {
  background-color: #48736f;
  color: #f2ece9;
  overflow: scroll;
}

#addbtn {
  margin-bottom: 10px;
}

#editbtn {
  background-color: #f2b56b;
  color: #f2ece9;
  margin: 10px;
}

#removebtn {
  background-color: #a60311;
  color: #f2ece9;
}

tbody {
  overflow: scroll;
}

thead {
  overflow: scroll;
}
